<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NEW HTML</title>
</head>
<body>
    <center>
    <h1><span style="color:aqua">MUNI</span> IS
        <span style="border-radius:20px;border: 1px solid green; padding: 5px;color: rgb(12, 245, 71);background-color: #796b6b;"> 
            SUPER HERO </span>
        FOR <span style="color:springgreen">KALAHASTHI</span></h1>
    </center>
    
</body>
</html>